$primary: #2F86B7;

*{

}

html {
	body {
		.row {
			margin-left: 0px;
			margin-right: 0px;
		}
		h1 {
			font-size: 72px;
			font-family: eskorte-latin, serif;
			font-weight: 600;
			font-style: normal;
		}
		h2 {
			font-size: 48px;
			font-family: eskorte-latin, serif;
			font-weight: 600;
			font-style: normal;
		}
		h3 {
			font-size: 32px;
			font-family: eskorte-latin, serif;
			font-weight: 600;
			font-style: normal;
		}
		h4 {
			font-size: 24px;
		}
		h5 {
			font-size: 18px;
		}
		li {
			margin: 16px 0px;
		}
		a,p,span,li {
			font-size: 16px;
			color: #000;
			text-decoration: none;
		}
		p {
			line-height: 1.7;
		}
		a {
			position: relative;
			&::after {
				content: '';
				position: absolute;
				height: 2px;
				bottom: -5px;
				width: 0px;
				background: $primary;
				left: 0px;
				transition: all .1s ease-in-out;
				-webkit-transition: all .1s ease-in-out;
				-moz-transition: all .1s ease-in-out;
			} 
			&:hover {
				&::after {
					width: 100%;
				}
				i {
					opacity: 1;
				}
			}
			i {
				opacity: 0;
				transition: all .1s ease-in-out;
				-webkit-transition: all .1s ease-in-out;
				-moz-transition: all .1s ease-in-out;
				color: $primary;
			}
		}
		img {
			max-width: 100%;
		}
	}
}

.masthead {
	min-height: 60vh;
	padding: 60px 0px;
	background: #000;
	position: relative;
	overflow: hidden;
	.masthead-image {
		position: absolute;
		top: 0px;
		left: 0px;
		height: 100%;
		width: 100%;
		opacity: .3;
		-webkit-animation: scaleSlide 30s ease-out infinite alternate;
		animation: scaleSlide 30s ease-0out infinite alternate;
	}
	.container {
		position: relative;
		z-index: 5;
	}
	h1 {
		color: #fff;
	}
}

.container {
	max-width: 100% !important;
	width: 1310px;
}

header {
	padding: 20px 0px;
	.logo {
		max-width: 200px;
	}
	.header-navigation {
		margin-top: 12px;
		padding: 0px;
		list-style-type: none;
		li {
			display: inline-block;
			margin: 0px 20px;
			&.header-navigation__social-icon {
				margin: 0px 8px;
				a {
					i {
						color: #000;
						opacity: 1;
					}
				}
				&.header-navigation__social-icon--first {
					margin-left: 20px;
				}
			}
		}
	}
}

.slider-controls {
	position: absolute;
	bottom: 0px;
	z-index: 5;
	left: 0px;
	margin: 0px;
	padding: 0px;
	li {
		display: inline-block;
		&:hover {
			a {
				background: #fff;
				color: $primary;
			}
		}
		a {
			padding: 16px 32px;
			color: #fff;
			font-weight: bold;
			font-size: 24px;
		}
		&.active {
			a {
				background: $primary;
			}
			&:hover {
				a {
					color: #fff;
				}
			}
		}
	}
}

.slide-image {
z-index: 2;
// -webkit-transform-origin: 0 0;
// -ms-transform-origin: 0 0;
// transform-origin: 0 0;


-webkit-animation: scaleSlide 15s ease-out infinite alternate;
animation: scaleSlide 15s ease-0out infinite alternate;
}

.text-block {
	padding: 60px 0px;

	h2 {
		margin-top: 0px;
	}
	p {
		font-size: 20px;
		line-height: 1.7;
	}
}

.news-container {
	padding: 60px 0px;
	.news-block {
		text-align: left;
		padding: 20px 40px;
		transition: all .2s ease-in-out;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		cursor: pointer;
		&.news-block--featured {
			h3 {
				font-size: 32px;
				font-weight: 600;
			}
			p {
				font-size: 20px;
				line-height: 1.7;
			}
		}
		h3 {
			font-weight: 400;
			font-size: 20px;
			line-height: 1.4;
			margin: 0px auto 14px;
		}
		h5 {
			text-transform: uppercase;
			font-weight: 300;
			letter-spacing: 6px;
			font-size: 14px;
			margin: 10px 0px 8px;
		}
		p {
			font-size: 16px;
			line-height: 1.7;
			display: block;
			height: 0px;
			opacity: 0;
			transition: all .2s ease-in-out;
			-webkit-transition: all .2s ease-in-out;
			-moz-transition: all .2s ease-in-out;
		}
		&:hover {
			background: #FFFFFF;
			box-shadow: 0 2px 24px 0 rgba(0,0,0,0.29);
			z-index: 5;
			-ms-transform: scale(1.1, 1.1); /* IE 9 */
			-webkit-transform: scale(1.1, 1.1); /* Safari */
			transform: scale(1.1, 1.1);
			h3 {
				color: $primary;
			}
			p {
				display: block;
				height: auto;
				opacity: 1;
			}
		}
	}
}

.tiles {
	padding: 60px 0px;
	.tile {
		background: #1C6AA5;
		padding: 60px 60px;
		cursor: pointer;
		transform: scale(1,1);
		transition: all .2s ease-in-out;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		position: relative;
		min-height: 450px;
		margin: 10px 5px;
		img {
			margin: 30px auto 20px;
		}
		h2 {
			font-size: 42px;
			margin: 10px 0px 0px;
			color: #fff;
			font-family: 'Roboto', sans-serif;
		}
		p {
			font-size: 20px;
			color: #fff;
		}
		&.second {
			background: #2F86B7;
			// margin-top: 10%;
		}
		&:hover {
			z-index: 5;
			-ms-transform: scale(1.1, 1.1); /* IE 9 */
		  -webkit-transform: scale(1.1, 1.1); /* Safari */
		  transform: scale(1.1, 1.1);
			box-shadow: 0 2px 24px 0 rgba(0,0,0,0.29);
			-webkit-box-shadow: 0 2px 24px 0 rgba(0,0,0,0.29);
		}
	}
}

footer {
	.action-banner {
		padding: 60px 0px;
		background: #1C6AA5;
		position: relative;
		overflow: hidden;
		.action-banner-image {
			position: absolute;
			top: 0px;
			left: 0px;
			height: 100%;
			width: 100%;
			opacity: .3;
			-webkit-animation: scaleSlide 30s ease-out infinite alternate;
animation: scaleSlide 30s ease-0out infinite alternate;
		}
		.container {
			position: relative;
			z-index: 5;
		}
		h2 {
			color: #fff;
		}
	}
	.footer-navigation {
		padding: 2% 0px;
		.footer-navigation__title {
			font-size: 18px;
		}
		.footer-navigation__list {
			list-style-type: none;
			margin: 0px;
			padding: 0px;
			li {
				a {
					text-decoration: none;
					color: #000;
					font-size: 15px;
					font-weight: 400;
					position: relative;
					&::after {
						content: '';
						position: absolute;
						height: 2px;
						bottom: -5px;
						width: 0px;
						background: $primary;
						left: 0px;
						transition: all .1s ease-in-out;
						-webkit-transition: all .1s ease-in-out;
						-moz-transition: all .1s ease-in-out;
					} 
					&:hover {
						&::after {
							width: 100%;
						}
					}
				}
			}
		}
	}
}


@-webkit-keyframes scaleSlide {
    0% {
        -webkit-transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1.0);
    }
}

@keyframes scaleSlide {
    0% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.0);
    }
}